*{
    margin: 0;
    padding: 0;
 }
body{
    background-color: rgb(29, 25, 25);
    display: flex;
    place-items: center;
    min-height: 100vh;
}
.container {
    border: solid rgb(46, 45, 45);
    margin: auto;
    background-color: rgb(46, 45, 45);
    display:grid;
    width: 50%;
    /* using grid template area to configure the grid */
    grid-template-areas: 
    "a a a b"
    "a a a b"
    "c c d d"
    "c c e e";
    gap: 10px;
    padding: 30px;
    padding-right: 50px;
    box-sizing: border-box;
    }
/* styling all divs */
.container div{
    padding:10px;
    border: 1px solid black;
    }
/* styling individual classes */
.Top-left{
    background-color: rgb(126, 116, 119);
    grid-area: a;
    }
.sec_top{
    background-color: pink;
    grid-area: b;
    }
.bottom-left{
    background-color: green;
    grid-area: c;
    }
.bottom-right_1{
    background-color: blue;
    grid-area: d;
    }
.bottom-right_2nd{
    background-color: aquamarine;
    grid-area: e;
} 
footer{
    background-color: rgb(235, 88, 88);
}       