*{
    margin: 0;
    padding: 0;
 }
body{
    background-color: bisque;
}
.container{
    width: 100vw;
    height: 100vw;
    display:grid;
    grid-template-columns : 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
    padding-right: 50px;
    box-sizing: border-box;
    }
.container div{
    padding:10px;
    border: 1px solid black;
    }
.top-left{
    grid-column-start:1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: rgb(185, 135, 42);
    }
.sec_top{
    grid-column: 1fr;
    grid-row: 1fr;
    background-color: pink;
    }
.bottom-left{
    grid-row-start:3;
    grid-row-end: 5;
    background-color: dark green;
    }
.bottom-right_1{
    grid-row-start: 3;
    grid-row-end:4;
    background-color: blue;
    }
.bottom-right_2nd{
    background-color: aquamarine;
} 
           